#result {
    p {
        font-size: 18px;
        font-weight: bold;
        text-align: justify;
        text-transform: capitalize;
        margin: 0px 0px 8px;
    }
}

#markSheet{
    display: none;
}
